<mat-form-field fxFlex.xs="100px">
  <mat-label>Buscador</mat-label>
  <input matInput type="text" placeholder="Nombre del artista" [(ngModel)]="value" (ngModelChange)='changed($event)'
    autofocus>
  <button mat-button matSuffix mat-icon-button aria-label="Buscador">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
