<mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-between">
  <img mat-card-image [src]="album.artworkUrl100" [alt]="album.artistName">
  <mat-card-content>
    <mat-card-title>{{ album.collectionName }}</mat-card-title>
    <mat-card-subtitle>{{ album.artistName }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="end end">
    <mat-icon (click)="changeFavorite($event)">{{ album.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
  </mat-card-actions>
</mat-card>
