<app-main-nav title="Slash Mobility">
  <ng-container main-header>
    <app-ion-searchbar (valueChanged)="searchSong($event)"></app-ion-searchbar>
  </ng-container>
  <ng-container header-right>
    <app-favorites-badge fxLayout [favorites]="countFavorites()"></app-favorites-badge>
  </ng-container>
  <ng-container content>
    <ng-template [ngIf]="songs">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <ng-template ngFor let-song [ngForOf]="songs.results">
          <app-song-card fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="20%" fxFlex.xl="20%" [song]='song'
            (updateSongFavorite)="updateSongFavorite($event)">
          </app-song-card>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</app-main-nav>
