<mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-between">
  <img mat-card-image [src]="song.artworkUrl100" [alt]="song.artistName">
  <mat-card-content>
    <mat-card-title>{{ song.trackName }}</mat-card-title>
    <mat-card-subtitle>{{ song.artistName }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="end end">
    <mat-icon (click)="changeFavorite($event)">{{ song.favorite ? 'favorite' : 'favorite_border' }}</mat-icon>
  </mat-card-actions>
</mat-card>
