<div style="max-height: 100vh">
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="false" fxShow.lt-md>
        <mat-icon>menu</mat-icon>
      </button>
      <a data-testID="title" fxHide.lt-md [routerLink]="['/']" class="title">{{ title }}</a>
      <div class="main-header" data-testID="main-header">
        <ng-content select="[main-header]"></ng-content>
      </div>
      <span class="menu-spacer"></span>
      <div class="menu" fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <ng-template ngFor let-item [ngForOf]="menu">
          <app-menu-item [item]='item'></app-menu-item>
        </ng-template>
      </div>
      <div class="header-right" data-testID="header-right">
        <ng-content select="[header-right]"></ng-content>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="['/']" class="title">{{ title }}</a>
        <ng-template ngFor let-item [ngForOf]="menu">
          <app-menu-item [item]='item'></app-menu-item>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill data-testID="content">
      <ng-content select="[content]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
