.menu-spacer {
  flex: 1 1 auto;
}

.title {
  color: inherit;
  text-decoration: none;
}

.main-header,
.menu {
  margin-right: 15px;
  margin-left: 15px;
}

mat-toolbar {
  position: relative;
  z-index: 0;
}

mat-nav-list {
  app-menu-item {
    display: block;
  }
}

@media screen and (min-width: 960px) {
  mat-toolbar {
    z-index: 50;
  }
}

@media screen and (max-width: 599px) {
  mat-toolbar {
    z-index: 0;
  }
}

@media screen and (max-width: 599px) {
  .main-sidenav-container {
    width: 100%;
    height: calc(100vh - 56px);
    z-index: 100;
  }
}

@media screen and (min-width: 600px) {
  .main-sidenav-container {
    width: 100%;
    height: calc(100vh - 64px);
  }
}
