<app-main-nav title="Slash Mobility">
  <ng-container main-header>
    <app-ion-searchbar (valueChanged)="searchAlbum($event)"></app-ion-searchbar>
  </ng-container>
  <ng-container header-right>
    <app-favorites-badge fxLayout [favorites]="countFavorites()"></app-favorites-badge>
  </ng-container>
  <ng-container content>
    <ng-template [ngIf]="albums">
      <div fxLayout="row wrap" fxLayout.xs="column">
        <ng-template ngFor let-album [ngForOf]="albums.results">
          <app-album-card fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="20%" fxFlex.xl="20%" [album]='album'
            (updateAlbumFavorite)="updateAlbumFavorite($event)">
          </app-album-card>
        </ng-template>
      </div>
    </ng-template>
  </ng-container>
</app-main-nav>
